<!--Formulario para ingresar username y password -->
<div class="flex justify-content-center h-screen w-full align-items-center ">
  <p-card [style]="{width: '30rem'}" >

    <div class="px-8" >
      <h2 class="text-center" >Login  </h2>
      <p>Username</p>
      <input type="text" pInputText [(ngModel)]="userName" />

      <p>Password</p>
      <input class="mb-5" type="text" pInputText [(ngModel)]="password" />

      <div class="flex justify-content-center">
        <p-button (click)="login()" label="Sign In" />
      </div>

    </div>

  </p-card>
</div>

<p-toast/>
